[[server]]
name = "dockarr(local)"
[server.config]
enabled = true

##

[[stack]]
name = "jellyseer"
[stack.config]
server = "dockarr(local)"
linked_repo = "gh-komodo"
run_directory = "stacks/dockarr/jellyseer"
environment = """
  # VARIABLE = value
TZ=America/New_York
"""

##

[[stack]]
name = "repo-stack"
template = true
[stack.config]
server = "dockarr(local)"
linked_repo = "gh-komodo"
run_directory = "templates/repo-stack"
environment = """
  # VARIABLE = value
TZ=America/New_York
"""

##

[[repo]]
name = "gh-komodo"
[repo.config]
server = "dockarr(local)"
git_account = "khaoohs"
repo = "khaoohs/komodo"

##

[[builder]]
name = "Local"
[builder.config]
type = "Server"
params.server_id = "dockarr(local)"

##

[[resource_sync]]
name = "komodo-main"
description = "Sync Komodo config to github."
[resource_sync.config]
linked_repo = "gh-komodo"
resource_path = ["resources/main.toml"]
managed = true

##

[[procedure]]
name = "Global Auto Update"
description = "Pulls and auto updates Stacks and Deployments using 'poll_for_updates' or 'auto_update'."
tags = ["system"]
config.schedule = "Every day at 03:00"

[[procedure.config.stage]]
name = "Stage 1"
enabled = true
executions = [
  { execution.type = "GlobalAutoUpdate", execution.params = {}, enabled = true }
]